<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
      <!-- BD Lalo -->
      <!--<add name = "connection" connectionString = "Data Source = EDUARDO; Initial Catalog = AplicacionInventarios; Integrated Security = true"/>-->
      
      <!--BD Rod-->
      <add name = "connection" connectionString = "Data Source = DESKTOP-SL66G4D\RODRM; Initial Catalog = AplicacionInventarios; Integrated Security = true"/>
    
    </connectionStrings>

</configuration>